name: Build

on: [push, workflow_dispatch]

jobs:
  build:
    name: ${{ matrix.build_type }}-${{ matrix.label }}-${{ matrix.arch }}

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:
        include:
          - os: windows-2022
            label: windows
            arch: x64
            triplet: x64-windows
            build_type: release

          - os: windows-2022
            label: windows
            arch: arm64
            triplet: arm64-windows
            build_type: release

          - os: ubuntu-22.04
            label: linux
            arch: x64
            triplet: x64-linux
            build_type: release

          - os: ubuntu-22.04-arm
            label: linux
            arch: arm64
            triplet: arm64-linux
            build_type: release

          - os: macos-14
            label: macos
            arch: arm64
            triplet: arm64-osx
            build_type: release

          - os: macos-14
            label: macos
            arch: x64
            triplet: arm64-osx
            build_type: release

    env:
      VCPKG_DEFAULT_TRIPLET: ${{ matrix.triplet }}

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Install CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: ~3.31.0
          ninjaVersion: latest

      - name: Set up vcpkg
        uses: lukka/run-vcpkg@v11
        id: runvcpkg
        with:
          vcpkgDirectory: ${{ runner.workspace }}/vcpkg
          vcpkgJsonGlob: '**/vcpkg.json'

      - name: Dump $RUNNER_WORKSPACE before build
        shell: bash
        run: find $RUNNER_WORKSPACE

      - name: Print output of "run-vcpkg"
        run: echo "root='${{ steps.runvcpkg.outputs.RUNVCPKG_VCPKG_ROOT_OUT }}', triplet='${{ steps.runvcpkg.outputs.RUNVCPKG_VCPKG_DEFAULT_TRIPLET_OUT }}'"

      - name: Configure and build plug-in
        uses: lukka/run-cmake@v10
        with:
          cmakeListsTxtPath: ${{ github.workspace }}/CMakeLists.txt
          configurePreset: ${{ matrix.build_type }}-${{ matrix.label }}-${{ matrix.arch }}
          buildPreset: ${{ matrix.build_type }}-${{ matrix.label }}-${{ matrix.arch }}

      - name: Dump $RUNNER_WORKSPACE after build
        shell: bash
        run: find $RUNNER_WORKSPACE

      - name: Upload release artifact
        uses: actions/upload-artifact@v4
        with:
          name: Nuked-SC55-CLAP-${{ matrix.build_type }}-${{ matrix.label }}-${{ matrix.arch }}
          path: build/${{ matrix.build_type }}-${{ matrix.label }}-${{ matrix.arch }}/Nuked-SC55.clap
